* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contarner {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.imageanh {
    width: 200px;
    height: 100px;
}

.reset {
    color: white;
    font-size: 30px;
}

.connainer {
    width: 100%;
    border: 1px solid white;
    border: none;
    margin: auto;
    /* background-color: #6c0834; */
}

.milo1 input {
    width: 50%;
    padding: 5px 5px 5px 5px;
}

.email {
    color: white;
    margin-right: 150px;
    padding-top: 5px
}

.milo2 button {
    text-align: center;
    width: 50%;
    padding: 10px 0px 10px 0px;
    background-color: red;
    color: white;
    border: none;
    padding-top: 10px;
}

.milo2 {
    margin-top: 10px;
}

.already {
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
    border: none;
    color: black;
    font-size: 12px;
}

.link {
    width: 50%;
    height: 30px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: white;
}