.top-rated-items {
  width: 80%;
  margin: auto;

}

.wrapper-top-rated {
  display: flex;
  justify-content: space-between;
}

.wrapper-top-rated h2 {
  color: #fff;
  font-family: 'Mali', cursive;

}

.top-rated-items .btn {
  background-color: #CC1739;
  color: white;
  padding: 7px 30px 7px 30px;
  border: none;
  border-radius: 25px;
}